<h1>Patients</h1>
<%= link_to "New patient", new_patient_path%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient|%>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.gender %></td>

        <td><%= link_to "Show", patient_path(patient) %></td>
        <td><%= link_to "Edit", edit_patient_path(patient) %></td>
        <td><%= link_to "Delete",patient_path(patient),data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
