<%= form_with model: doctor do |form| %>
  <% if doctor.errors.any? %>
    <ul>
      <% doctor.errors.full_messages.each do |message|%>
        <li><%=message%></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :name%>
    <%= form.text_field :name%>
  </div>

  <div>
    <%= form.label :specialization%>
    <%= form.text_field :specialization%>
  </div>

  <div>
    <%= form.submit%>
  </div>

<% end %>